html {
    height: 100%;
    font-family: 'Roboto', sans-serif; 
    background-color: #D2F6C5;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;  
    border-radius: 100%;
    font-size: 2rem;
    font-weight: bold;
}

main {
    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 1rem 1rem;
    font-size: 1.5rem;
}

input[type=text] {
    width: 100%;
    padding: 1rem 1.15rem;
    font-size: 1.1rem;
    box-sizing: border-box;
    border: 0.02rem solid #158E60;
    align-items: center;
    margin: 1rem 0rem;
  }
  
input[type=text]:focus {
    background-color: #E4F9DC;
  }

div{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    width: 80%;
}

.button { 
    
    color: white;
    background-color: #28DF99;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.15rem;
    padding: 1.5rem;
    border-radius: 2rem;
    text-align: center;
}